{% extends "base.html" %} 
{% block title %}Send SMS{% endblock %} 
{% block content %}
<form method="POST">
  <h3 align="center">Send SMS</h3>
  <div class="form-group">
    <label for="phone_number">Phone Number</label>
    <input
      type="text"
      class="form-control"
      id="phone_number"
      name="phone_number"
      placeholder="Enter phone number"
    />
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea
      class="form-control"
      id="message"
      name="message"
      placeholder="Enter message"
    ></textarea>
  </div>
  <br />
  <button type="submit" class="btn btn-primary">Send SMS</button>
</form>
{% endblock %}
